.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f7fc;
}

.landing-initial-content {
  background: url("../../resources/AstraBackground.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.landing-wrapper {
  width: 70%;
  height: 100vh;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.landing-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.landing-about {
  width: 50%;
  padding: 15px;
}

.landing-content {
  width: 35%;
  color: #000;
  background: #f4f7fc;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.button-spinner {
  margin-left: 10px;
}

.landing-footer {
  background: linear-gradient(
    to bottom,
    rgba(221, 221, 221, 0.9) 0%,
    rgba(221, 221, 221, 0.4) 5%,
    transparent 10%
  );
  min-height: 100vh;
  color: #000;
}
