.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;
  background-image: url("../../resources/HeaderBackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-info > h2 {
  margin: 0 10px 0 0;
}

.header-info > i {
  margin-left: 10px;
}

.logout-button {
  cursor: pointer;
  margin-right: 20px !important;
}

.logout-button:hover {
  transform: scale(1.1);
}
