.project {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-page-menu {
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  border: none !important;
}

.tasks-option.active {
  border-color: #98e1eb !important;
}

.information-option.active {
  border-color: #ec6236 !important;
}

.settings-option.active {
  border-color: #333f92 !important;
}

.project-header-column {
  padding-right: 20px;
  padding-left: 20px;
}

.project-header-box {
  width: 100%;
  min-height: 150px;
  background: #3f4059;
  border-radius: 20px;
  padding: 15px;
}

.project-header-box > p {
  color: #fff;
}

.project-header-column > h3 {
  font-weight: 500;
}

.header-column {
  display: flex !important;
}

.title-column {
  align-items: left !important;
  padding-left: 0 !important;
}

.project-dropdown {
  margin-left: auto;
}

.icon-row {
  margin-top: 5px !important;
}

.header-icon-column {
  padding: 0 !important;
}

.project-dropdown > i {
  margin-left: 10px;
}

.project-content-header {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.project-users {
  width: 50%;
}

.project-body {
  padding: 20px;
}

.project-wrapper {
  width: 95%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.project-tasks-box {
  width: 100%;
  min-height: 50px;
  background: #3f4059;
  color: #fff;
  border-radius: 5px;
  padding: 15px 0;
  margin-bottom: 250px;
}

.project-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  display: flex;
}

.task-header {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px !important;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-radius: 10px 10px 0 0;
  padding-bottom: 0 !important;
  color: #94989d;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.task-footer {
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.add-task-button {
  color: #21ba45;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.add-task-button:hover {
  color: #1a9937;
  transform: scale(1.1);
}

.task-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 10;
}

.shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.subtask-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #37384e;
}

.expand-task-icon {
  opacity: 0.5 !important;
  cursor: pointer;
  margin: 0.15rem 5px 0.15rem 0 !important;
}

.expand-task-icon:hover {
  opacity: 1 !important;
}

.dropdown > .menu {
  z-index: 100 !important;
}

.task-description > a {
  word-break: break-all;
}

.task-progress-bar {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.task-icon {
  opacity: 0.5 !important;
}

.task-icon:hover {
  opacity: 1 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.task-button {
  margin-right: 10px;
}

.danger {
  color: #c0392b;
  cursor: pointer;
}

.project-wrapper > .ui.grid + .grid {
  margin-top: 1rem;
}

.ui.grid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.yellow {
  color: #fbbd08;
}

.green {
  color: #21ba45;
}

.settings-wrapper {
  padding: 15px;
}
