.home-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.home-content {
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: #f4f7fc;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.home-projects-wrapper {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
}

.home-projects-wrapper > h3 {
  color: #444444;
}

.padding {
  margin-left: 250px;
}

.modal-row {
  margin-bottom: 5px;
}

.sidebar-toggle {
  cursor: pointer;
  margin: 20px !important;
}

.dashboard-body {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
}

.dashboard-greeting {
  text-align: center !important;
}

.dashboard-greeting-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-greeting-content > p {
  color: #94989d;
}

.dashboard-projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-list-item {
  cursor: pointer;
}

.dashboard-list-item:hover {
  background: rgb(0, 0, 0, 0.05);
}
