.home-page {
  width: 100%;
  height: 100%;
}

.home-content {
  min-height: 100%;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.home-button-wrapper {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 40px;
}

.project {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project:hover {
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.35);
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 20px;
  width: 100%;
  border-bottom-color: #ecf0f1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.project-buttons > button {
  margin-left: 10px;
  margin-right: 10px;
}

.project-body {
  padding: 20px;
}

.project-tasks {
  width: 95%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.05);
}

.project-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  display: flex;
}

.modal-row {
  margin-bottom: 5px;
}

.user {
  border: 0px solid rgba(174, 136, 173, 0.2);
  background-color: #ecf0f1;
  border-radius: 100px;
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3498db;
  letter-spacing: 0.3px;
  line-height: 12px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: -3px;
  margin-left: 8px;
  vertical-align: middle;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.task-header {
  display: -webkit-flex;
  display: flex;
  background-color: #ecf0f1;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.task:nth-child(odd) {
  background-color: #f9f9f9;
}

.task-name-column {
  width: 20%;
}

.task-description-column {
  width: 50%;
}

.task-status-column {
  width: 15%;
}

.task-delete-column {
  width: 15%;
}
