.home-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.home-content {
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.home-projects-wrapper {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
}

.padding {
  margin-left: 250px;
}

.modal-row {
  margin-bottom: 5px;
}

.sidebar-toggle {
  cursor: pointer;
}
