.register-page {
  height: 100%;
  background: #ad5389;
  background: linear-gradient(to right, #3c1053, #ad5389);
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.register-content {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.register-form {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}
