.project {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 20px;
  width: 100%;
  border-bottom-color: #ecf0f1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.project-name {
  font-size: large;
}

.project-buttons > button {
  margin-left: 10px;
  margin-right: 10px;
}

.project-dropdown > i {
  margin-left: 5px;
}

.project-body {
  padding: 20px;
}

.project-tasks {
  width: 95%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.05);
  border-width: thin;
  border-style: solid;
  border-color: lightgray;
}

.project-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  display: flex;
}

.user {
  border: 0px solid rgba(174, 136, 173, 0.2);
  background-color: #ecf0f1;
  border-radius: 100px;
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3498db;
  letter-spacing: 0.3px;
  line-height: 12px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: -3px;
  margin-left: 8px;
  vertical-align: middle;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.task-header {
  background-color: #ecf0f1;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0 !important;
  border-bottom: lightgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.task-grid:nth-child(odd) {
  background-color: #f9f9f9;
}

.task-footer {
  border-top: lightgray;
  border-top-style: solid;
  border-top-width: thin;
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.task-button {
  margin-right: 10px;
}

.project-tasks > .ui.grid + .grid {
  margin-top: 1rem;
}
